<div *ngIf="showLoggedOutDiv">
  <p style="color:orangered;">You have logged out.</p>
</div>
<div *ngIf="showLoggedInDiv">
  <p style="color:green;">You have logged in.</p>
</div>
<div *ngIf="loginExpanded">
  <p>Please enter your credentials:</p>
  <p><label>Username: </label><input id="username" type="text" [formControl]="username"></p>
  <p><label>Password: </label><input id="password" type="password" [formControl]="password"></p>
  <p><button (click)="onLogin()">Log in</button></p>
  <p><button (click)="collapseLogin()">Cancel</button></p>
</div>
<div class="container">
  <div *ngIf="!authenticated && !loginExpanded">
    <button (click)="expandLogin()">Log in</button>
  </div>
  <div *ngIf="authenticated">
    <button (click)="onLogout()">Log out</button>
  </div>
</div>
